body{
  font-family: 'Gothic', 'Century Gothic', 'AppleGothic', sans-serif;
  font-size: 150%;
  background-color: rgb(211, 151, 235);
  
}

body nav li{
  background-color: rgb(245, 227, 145);
  display:flex;
  justify-content: space-between;
  width: 80%;
  font-family: 'Gothic', 'Century Gothic', 'AppleGothic', sans-serif; 
  font-size: 100%;
  text-align: center;
  height: 55%;
  line-height: 100px;
}
body nav ul{
  list-style-type: none;
  padding: .5%;
  margin: 1%;
  display: flex;
  justify-content: space-around;
  width: 80%;
  background-color: rgb(245, 227, 145);
  font-family: 'Gothic', 'Century Gothic', 'AppleGothic', sans-serif;
  flex-direction: row;
  
  
}

body main div img {
  background-color: rgb(144, 231, 245);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  border-radius: 10px;
  flex-wrap: wrap;
  
}


body main p {
  font-family:'Gothic', 'Century Gothic', 'AppleGothic', sans-serif;
  font-size: 100%;
  display: inline-block;
  text-align: center;
  background-color: rgb(103, 228, 228);
  line-height: 45px;
}
body h1 {
  font-family:'Gothic', 'Century Gothic', 'AppleGothic', sans-serif;
  font-size: 170%;
  display: inline-block;
  background-color: rgb(245, 227, 145);
  padding: 0.5em;
  border-radius: 10px;
  

} 
body footer {
  font-family:'Gothic', 'Century Gothic', 'AppleGothic', sans-serif;
  font-size: 100%;
  background-color: rgb(245, 227, 145);
  display: inline-block;
  padding: 0.2em;
  border-radius: 10px;
  justify-content: center;
}